@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-blue: #011e4a;
  --color-secondary-blue: #003895;
  --color-teal: #008095;
  --color-gray: #64748B;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
