@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-blue: #011e4a;
  --color-secondary-blue: #003895;
  --color-teal: #008095;
  --color-gray: #64748b;

  @keyframes nav-slide-in {
    0% {
      transform: translateX(-240px);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-nav-slide-in: nav-slide-in 0.2s ease-out forwards;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
